<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpConfig"
                  allowCookies="true"
                  maxReceivedMessageSize="20000000"
                  maxBufferSize="20000000"
                  maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
                        maxArrayLength="200000000"
                        maxStringContentLength="200000000" />
        </binding>
        <binding name="webHttpsConfig"
                  allowCookies="true"
                  maxReceivedMessageSize="20000000"
                  maxBufferSize="20000000"
                  maxBufferPoolSize="20000000">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="32"
                        maxArrayLength="200000000"
                        maxStringContentLength="200000000" />
        </binding>
        <binding name="webHttpBindingXML" />
        <binding name="webHttpBindingJSON" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="BusinessServices.UserService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpsConfig" contract="BusinessServices.IUserService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="XML" binding="webHttpBinding" bindingConfiguration="webHttpBindingXML" contract="BusinessServices.IUserService" behaviorConfiguration="RestXMLEndpointBehavior" />
        <endpoint address="JSON" binding="webHttpBinding" bindingConfiguration="webHttpBindingJSON" contract="BusinessServices.IUserService" behaviorConfiguration="RestJSONEndpointBehavior" />

        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:7743/UserService.svc" />
          </baseAddresses>
        </host>

      </service>
      <service name="BusinessServices.RoleService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpConfig" contract="BusinessServices.IRoleService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="XML" binding="webHttpBinding" bindingConfiguration="webHttpBindingXML" contract="BusinessServices.IRoleService" behaviorConfiguration="RestXMLEndpointBehavior" />
        <endpoint address="JSON" binding="webHttpBinding" bindingConfiguration="webHttpBindingJSON" contract="BusinessServices.IRoleService" behaviorConfiguration="RestJSONEndpointBehavior" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7742/RoleService.svc" />
          </baseAddresses>
        </host>

      </service>
      <service name="BusinessServices.CriminalService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpConfig" contract="BusinessServices.ICriminalService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="XML" binding="webHttpBinding" bindingConfiguration="webHttpBindingXML" contract="BusinessServices.ICriminalService" behaviorConfiguration="RestXMLEndpointBehavior" />
        <endpoint address="JSON" binding="webHttpBinding" bindingConfiguration="webHttpBindingJSON" contract="BusinessServices.ICriminalService" behaviorConfiguration="RestJSONEndpointBehavior" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7742/CriminalService.svc" />
          </baseAddresses>
        </host>

      </service>
      <service name="BusinessServices.NationalityService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpConfig" contract="BusinessServices.INationalityService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="XML" binding="webHttpBinding" bindingConfiguration="webHttpBindingXML" contract="BusinessServices.INationalityService" behaviorConfiguration="RestXMLEndpointBehavior" />
        <endpoint address="JSON" binding="webHttpBinding" bindingConfiguration="webHttpBindingJSON" contract="BusinessServices.INationalityService" behaviorConfiguration="RestJSONEndpointBehavior" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7742/NationalityService.svc" />
          </baseAddresses>
        </host>

      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
        <behavior name="RestJSONEndpointBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="RestXMLEndpointBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Xml" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />

  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="E:\ProcrastiNation\logs\Traces.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
